body,
h1,
h3 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  color: #ffffff;
  background: #323232;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/019/901/original/matrix-digital-background-free-video.jpg);
  text-align: center;
  font-family: "Inter", sans-serif;
  line-height: 200%;
  height: 100%;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

label {
  display: block;
  background-color: #000;
  opacity: 125%;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400 bold;
  letter-spacing: 5px;
  color: #ffffff;
  margin: 10px;
}

h3 {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500 bold;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #19c9a3;
  opacity: 70%;
}

#mensagem {
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  
}

textarea {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  padding: 15px;
  color: #636262;
}

#mensagem:focus {
  background: linear-gradient(145deg, #f7f4f4, #f1ecec);
  box-shadow: 10px 10px 70px #505050, -10px -10px 70px #585858;
}


.btn {
  display: flex;
  justify-content: center;
}

button {
  display: inline-block;
  background-color: #4b4949;
  border: none;
  padding: 6px;
  border-radius: 5px;
  color: #19c9a3;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  transition: 0.5s;
  margin: 0px 10px 20px 10px ;
}

button:focus {
  outline: solid 1px #19c9a3;
}

button:hover {
  background-color: grey;
  transition: 1s;
}

form {
  display: flex;
  flex-direction: column;
}

.mensagem {
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}

.slider-range {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 30px;
  background-color: rgba(75, 2, 2, 0.2);
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #818181;
  color: #ffffff;
  outline: none;
  font-family: "Inter", sans-serif;
}

.chave {
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  opacity: 85%;
}

.range {
  height: 10px;
  background-color: rgb(29, 29, 29);
  outline: none;
  cursor: ew-resize;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 10px;
  background-color: #19c9a3;
  border-radius: 2px;
}

#copyright{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}
